.inner_wrapper {
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 60px;
}

.items {
  display: flex;
  flex-wrap: wrap;

  max-width: 50%;

  gap: 10px;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;

    font-weight: 400;

    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 10px;

    transition: all .4s linear;
    cursor: pointer;

    &:hover{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }
  }
}
