@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  --main-bg: #f5f4fd;
  --item-hover: #f9f8fb;
  --secondary-bg: #251d33;
  --main-container-bg: #fff;
  --container-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --text-color: #00071d;
}

body.dark {
  --main-bg: #00071d;
  --item-hover: #1c2339;
  --secondary-bg: #36415e;
  --main-container-bg: #131c31;
  --text-color: #fff;
  --tooltip-bg: #251d33;
  --container-shadow: rgba(#131c31, 0.2) 0px 7px 29px 0px;
  color: white;
}

body {
  background-color: var(--main-bg);
  transition: 0.3s ease-in-out;
}

.sidebar {
  &-wrapper {
    @media screen and (max-height: 520px) {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  &-container {
    background-color: var(--main-container-bg);
    box-shadow: var(--container-shadow);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: width 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
  }

  &-themeInput {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  &-themeType {
    position: absolute;
    top: -7px;
    left: -7px;
    // top: 8px;
    // left: -7px;
  }

  &-themeContainer {
    padding: 15px;
  }

  &-themeLabel {
    position: relative;
    cursor: pointer;

    svg {
      width: 14px;
      height: 14px;
    }
  }

}
